<!doctype html>
<html class="h-full">
  <head>
    <script>
      if (localStorage.getItem("pref-theme") === "dark") {
        document.children[0].classList.add("dark");
      } else if (localStorage.getItem("pref-theme") === "light") {
        document.children[0].classList.remove("dark");
      } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.children[0].classList.add("dark");
      }
    </script>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index, follow" />
    <title>
      {{ if and (not .IsHome) .Title }}
        {{ .Title }} |
      {{ end }}
      {{ site.Title }}
    </title>

    <meta
      name="description"
      content="{{ .Description | default site.Params.Description }}" />
    <meta name="author" content="Karl Krauth" />
    {{/* TODO: Search */}}
    {{/* TODO: Favicons */}}
    {{/* TODO: RSS */}}

    {{/* TODO: Google Analytics */}}
    {{/* TODO: Opengraph */}}
    {{/* TODO: Twitter cards */}}
    {{/* TODO: JSON schema */}}
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

  <script>
    MathJax = {
      tex: {
        displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
        inlineMath: [['\\(', '\\)']]                  // inline
      },
      loader:{
        load: ['ui/safe']
      },
    };
  </script>
  </head>

  <body class="antialiased min-h-full bg-white dark:bg-slate-900">
    <header
      class="fixed w-full backdrop-blur z-50 border-b border-slate-900/10 dark:border-slate-50/[0.06] bg-white/95 dark:bg-slate-900/95 h-16"
      id="nav">
      <div class="flex items-center max-w-8xl mx-auto py-4 px-6 md:px-8">
        <nav class="text-slate-900 dark:text-white col-start-2">
          <ul class="flex gap-x-8">
            <li>
              <a
                class="hover:text-sky-500 dark:hover:text-sky-400"
                href="/"
                accesskey="h"
                title="Home (Alt + H)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M20 9v11a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V9" />
                  <path d="M9 22V12h6v10M2 10.6L12 2l10 8.6" />
                </svg>
              </a>
            </li>

            <li>
              <a
                class="hover:text-sky-500 dark:hover:text-sky-400"
                href="/posts"
                accesskey="b"
                title="Blog (Alt + B)">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    d="M14 2H6a2 2 0 0 0-2 2v16c0 1.1.9 2 2 2h12a2 2 0 0 0 2-2V8l-6-6z" />
                  <path d="M14 3v5h5M16 13H8M16 17H8M10 9H8" />
                </svg>
              </a>
            </li>
            <li>
              <a
                class="hidden hover:text-sky-500 dark:hover:text-sky-400"
                href="/search">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <div
          class="flex items-center ml-auto justify-self-end border-l border-slate-200 pl-6 dark:border-slate-800">
          <button id="theme-toggle" accesskey="t" title="(Alt + T)">
            <span
              class="hidden dark:inline text-slate-400 hover:text-slate-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
              </svg>
            </span>
            <span class="dark:hidden text-slate-400 hover:text-slate-500">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
              </svg>
            </span>
          </button>
        </div>
      </div>
    </header>
    <div class="h-16 w-full"></div>

    <main>
      <div class="max-w-8xl mx-auto px-4 sm:px-6 md:px-8 z-20 pt-10">
        {{ block "main" . }}{{ end }}
      </div>
    </main>

    <footer class="pt-24 max-w-3xl mx-auto"></footer>

    <script>
      let prevY = 0;
      let navTop = 0;
      nav = document.getElementById("nav");
      window.addEventListener("scroll", function () {
        let y = window.pageYOffset || document.documentElement.scrollTop;
        y = Math.max(0, y);
        if (y > prevY) {
          // Scrolling down.
          navTop -= y - prevY;
          if (navTop < -64) {
            navTop = -64;
          }
        } else {
          // Scrolling up
          navTop += prevY - y;
          if (navTop > 0) {
            navTop = 0;
          }
        }

        nav.style.top = navTop + "px";
        prevY = y;
      });
    </script>

    <script>
      let menu = document.getElementById("menu");
      if (menu) {
        menu.scrollLeft = localStorage.getItem("menu-scroll-position");
        menu.onscroll = function () {
          localStorage.setItem("menu-scroll-position", menu.scrollLeft);
        };
      }

      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          var id = this.getAttribute("href").substr(1);
          if (!window.matchMedia("(prefers-reduced-motion: reduce)").matches) {
            document
              .querySelector(`[id='${decodeURIComponent(id)}']`)
              .scrollIntoView({
                behavior: "smooth",
              });
          } else {
            document
              .querySelector(`[id='${decodeURIComponent(id)}']`)
              .scrollIntoView();
          }
          if (id === "top") {
            history.replaceState(null, null, " ");
          } else {
            history.pushState(null, null, `#${id}`);
          }
        });
      });
    </script>

    <script>
      document.getElementById("theme-toggle").addEventListener("click", () => {
        if (document.children[0].className.includes("dark")) {
          document.children[0].classList.remove("dark");
          localStorage.setItem("pref-theme", "light");
        } else {
          document.children[0].classList.add("dark");
          localStorage.setItem("pref-theme", "dark");
        }
      });
    </script>

    <script>
        document.querySelectorAll('pre > code').forEach((codeblock) => {
            const container = codeblock.parentNode.parentNode;

            const copybutton = document.createElement('button');
            copybutton.classList.add('copy-code');
            copybutton.innerHTML = '{{- i18n "code_copy" | default "copy" }}';

            function copyingDone() {
                copybutton.innerHTML = '{{- i18n "code_copied" | default "copied!" }}';
                setTimeout(() => {
                    copybutton.innerHTML = '{{- i18n "code_copy" | default "copy" }}';
                }, 2000);
            }

            copybutton.addEventListener('click', (cb) => {
                if ('clipboard' in navigator) {
                    navigator.clipboard.writeText(codeblock.textContent);
                    copyingDone();
                    return;
                }

                const range = document.createRange();
                range.selectNodeContents(codeblock);
                const selection = window.getSelection();
                selection.removeAllRanges();
                selection.addRange(range);
                try {
                    document.execCommand('copy');
                    copyingDone();
                } catch (e) { };
                selection.removeRange(range);
            });

            if (container.classList.contains("highlight")) {
                container.appendChild(copybutton);
            } else if (container.parentNode.firstChild == container) {
                // td containing LineNos
            } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
                // table containing LineNos and code
                codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
            } else {
                // code blocks not having highlight as parent class
                codeblock.parentNode.appendChild(copybutton);
            }
        });
    </script>
  </body>
</html>
