{{ define "main" }}
  <div class="max-w-3xl mx-auto sm:text-lg text-slate-700 dark:text-slate-300">
    <div class="flex flex-col sm:flex-row gap-10 items-start">
      <div
        class="flex flex-col items-center text-center self-center sm:self-auto bg-slate-200 rounded-xl p-6  dark:bg-slate-800">
        {{ $img := resources.Get "headshot.jpg" }}
        {{ $img = $img.Fill "300x300" }}
        <img
          class="w-24 h-24 sm:w-36 sm:h-36 rounded-full"
          src="{{ $img.Permalink }}"
          draggable="false"
          alt="profile picture" />
        <h2
          class="font-bold text-nowrap text-slate-900 dark:text-white text-2xl sm:text-3xl mt-4">
          Karl Krauth
        </h2>
        <h3 class="font-medium text-slate-700 dark:text-slate-400 sm:text-lg">
          Bio/ML Researcher
        </h3>
        <ul class="flex gap-3 sm:gap-4 mt-4">
          <li
            class="w-6 h-6 sm:w-7 sm:h-7 text-slate-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400">
            <a
              href="mailto: kkt at stanford.edu"
              target="_blank"
              rel="noopener noreferrer me"
              title="Email"
              style="text-align: center;">
              {{ partial "svg.html" "email" }}
            </a>
          </li>
          <li
            class="w-6 h-6 sm:w-7 sm:h-7 text-slate-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400">
            <a
              href="https://twitter.com/Krauth"
              target="_blank"
              rel="noopener noreferrer me"
              title="Twitter"
              style="text-align: center;">
              {{ partial "svg.html" "twitter" }}
            </a>
          </li>
          <li
            class="w-6 h-6 sm:w-7 sm:h-7 text-slate-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400">
            <a
              href="https://scholar.google.com/citations?user=qq4zSmQAAAAJ"
              target="_blank"
              rel="noopener noreferrer me"
              title="Google Scholar"
              style="text-align: center;">
              {{ partial "svg.html" "googlescholar" }}
            </a>
          </li>
          <li
            class="w-6 h-6 sm:w-7 sm:h-7 text-slate-900 dark:text-white hover:text-sky-500 dark:hover:text-sky-400">
            <a
              href="https://github.com/k-rl"
              target="_blank"
              rel="noopener noreferrer me"
              title="Github"
              style="text-align: center;">
              {{ partial "svg.html" "github" }}
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h2
          class="font-bold text-slate-900 dark:text-white text-2xl sm:text-3xl">
          About
        </h2>
        <div>
          <p class="mt-4">
            I'm a <a href="https://brancoweissfellowship.org/fellow/krauth/">Branco Weiss fellow</a>
            at Stanford in Polly Fordyce's lab. I create microfluidic devices, large-scale datasets,
            and machine learning algorithms to understand molecular biology.
          </p>

          <p class="mt-4">
            I did my PhD in computer science at UC Berkeley with Michael I.
            Jordan, where I studied machine learning systems from a data-centric
            perspective.
          </p>
        </div>
      </div>
    </div>
    <hr class="mt-12 mb-12 opacity-5 border-slate-700 dark:border-slate-200" />
    <div>
      <h2 class="font-bold text-slate-900 dark:text-white text-2xl sm:text-3xl">
        Publications
      </h2>
      <ul class="flex flex-col gap-6 mt-6 text-sm sm:text-base text-slate-600 dark:text-slate-400">
        <li>
          <p>
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://www.nature.com/articles/s41467-023-44068-3"
              >Design Automation of Microfluidic Single and Double Emulsion
              Droplets with Machine Learning</a
            >
          </p>
          <p class="mt-1">
            <a
              href="https://scholar.google.com/citations?user=cXysVOUAAAAJ"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Ali Lashkaripour</a
            >,
            <a
              href="https://scholar.google.com/citations?user=ePpNOegAAAAJ"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >David McIntyre</a
            >,
            <a
              href="https://fullergroup.stanford.edu/people/suzanne-calhoun/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Suzanne Calhoun</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://www.cidarlab.org/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Douglas Densmore</a
            >,
            <a
              href="https://www.fordycelab.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Polly Fordyce</a
            >
          </p>

          <p><em>Nature Communications</em>, 2024</p>
        </li>
        <li>
          <p>
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://proceedings.mlr.press/v204/angelopoulos23a/angelopoulos23a.pdf"
              >Recommendation Systems with Distribution-Free Reliability
              Guarantees</a
            >
          </p>
          <p class="mt-1">
            <a
              href="https://people.eecs.berkeley.edu/~angelopoulos/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Anastasios Angelopoulos*</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://stephenbates19.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Stephen Bates</a
            >,
            <a
              href="https://yixinwang.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Yixin Wang</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >
          </p>

          <p>
            <em>COPA</em>, 2023
            <strong class="text-red-600 dark:text-red-400"
              >(Best Paper Award)</strong
            >
          </p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://openreview.net/pdf?id=l6CpxixmUg"
              >Modeling Content Creator Incentives on Algorithm-Curated
              Platforms</a
            >
          </p>
          <p>
            <a
              href="https://sites.google.com/view/jirihron/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Jiri Hron*</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael I. Jordan</a
            >,
            <a
              href="https://sites.google.com/view/nikikilbertus/home"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Niki Kilbertus</a
            >,
            <a
              href="https://sdean.website/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Sarah Dean</a
            >
          </p>

          <p>
            <em>ICLR</em>, 2023
            <strong class="text-red-600 dark:text-red-400"
              >(Notable Top 5%)</strong
            >
          </p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://arxiv.org/pdf/2207.01616.pdf"
              >Breaking Feedback Loops in Recommender Systems with Causal
              Inference</a
            >
          </p>
          <p>
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://yixinwang.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Yixin Wang</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >
          </p>

          <p><em>arXiv preprint</em>, 2022</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://proceedings.neurips.cc/paper/2021/file/162d18156abe38a3b32851b72b1d44f5-Paper.pdf"
              >On Component Interaction in Two-Stage Recommender Systems</a
            >
          </p>
          <p>
            <a
              href="https://sites.google.com/view/jirihron/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Jiri Hron</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >,
            <a
              href="https://sites.google.com/view/nikikilbertus/home"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Niki Kilbertus</a
            >
          </p>

          <p><em>NeurIPS</em>, 2021</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://dl.acm.org/doi/pdf/10.1145/3465416.3483298"
              >The Stereotyping Problem in Collaboratively Filtered Recommender
              Systems</a
            >
          </p>
          <p>
            <a
              href="https://scholar.google.com/citations?user=j7Z1Zm8AAAAJ&hl=en"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Wenshuo Guo*</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >,
            <a
              href="https://gargnikhil.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Nikhil Garg</a
            >
          </p>

          <p><em>ACM EAAMO</em>, 2021</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://arxiv.org/pdf/2011.07931.pdf"
              >Do Offline Metrics Predict Online Performance in Recommender
              Systems?</a
            >
          </p>
          <p>
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://sdean.website/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Sarah Dean</a
            >,
            <a
              href="https://alzhao.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Alex Zhao</a
            >,
            <a
              href="https://scholar.google.com/citations?user=j7Z1Zm8AAAAJ&hl=en"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Wenshuo Guo</a
            >,
            <a
              href="https://mcurmei627.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Mihaela Curmei</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~brecht/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Benjamin Recht</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >
          </p>

          <p><em>NeurIPS Workshop</em>, 2020</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://arxiv.org/pdf/2009.08956.pdf"
              >Exploration in Two-Stage Recommender Systems</a
            >
          </p>
          <p>
            <a
              href="https://sites.google.com/view/jirihron/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Jiri Hron*</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://people.eecs.berkeley.edu/~jordan/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Michael Jordan</a
            >,
            <a
              href="https://sites.google.com/view/nikikilbertus/home"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Niki Kilbertus</a
            >
          </p>

          <p><em>NeurIPS Workshop</em>, 2020</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://proceedings.mlr.press/v119/miller20a.html"
              >The Effect of Natural Distribution Shift on Question Answering
              Models</a
            >
          </p>
          <p>
            <a
              href="https://millerjohnp.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >John Miller</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://people.eecs.berkeley.edu/~brecht/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Benjamin Recht</a
            >,
            <a
              href="https://people.csail.mit.edu/ludwigs/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Ludwig Schmidt</a
            >
          </p>

          <p><em>ICML</em>, 2020</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://dl.acm.org/doi/pdf/10.1145/3419111.3421287"
              >Serverless Linear Algebra</a
            >
          </p>
          <p>
            <a
              href="https://vaishaal.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Vaishaal Shankar</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://stanford.edu/~kailasv/about.html"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Kailas Vodrahalli</a
            >,
            <a
              href="https://scholar.google.com/citations?user=S8D-DqEAAAAJ&hl=en"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Qifan Pu</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~brecht/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Benjamin Recht</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~istoica/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Ion Stoica</a
            >,
            <a
              href="https://people.csail.mit.edu/jrk/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Jonathan Ragan-Kelley</a
            >,
            <a
              href="https://ericjonas.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Eric Jonas</a
            >,
            <a
              href="https://shivaram.org/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Shivaram Venkataraman</a
            >
          </p>

          <p><em>ACM SoCC</em>, 2020</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://proceedings.neurips.cc/paper/2019/file/aaebdb8bb6b0e73f6c3c54a0ab0c6415-Paper.pdf"
              >Finite-Time Analysis of Approximate Policy Iteration for the
              Linear Quadratic Regulator</a
            >
          </p>
          <p>
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://stephentu.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Stephen Tu*</a
            >,
            <a
              href="https://people.eecs.berkeley.edu/~brecht/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Benjamin Recht</a
            >
          </p>

          <p><em>NeurIPS</em>, 2019</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://jmlr.csail.mit.edu/papers/volume20/16-437/16-437.pdf"
              >Generic Inference in Latent Gaussian Process Models</a
            >
          </p>
          <p>
            <a
              href="https://people.csiro.au/B/E/edwin-bonilla"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Edwin Bonilla</a
            >,
            <strong class="text-slate-900 dark:text-white"> Karl Krauth*</strong
            >,
            <a
              href="https://adezfouli.github.io/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Amir Dezfouli</a
            >
          </p>

          <p><em>JMLR</em>, 2019</p>
        </li>
        <li>
          <p class="mt-1">
            <a
              class="text-slate-900 dark:text-white font-medium text-md sm:text-lg hover:underline hover:text-sky-500 dark:hover:text-sky-400"
              href="https://auai.org/uai2017/proceedings/papers/50.pdf">
              AutoGP: Exploring the Capabilities and Limitations of Gaussian
              Process Models
            </a>
          </p>
          <p>
            <strong class="text-slate-900 dark:text-white"> Karl Krauth</strong
            >,
            <a
              href="https://people.csiro.au/B/E/edwin-bonilla"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Edwin Bonilla</a
            >,
            <a
              href="https://www.kurtcutajar.com/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Kurt Cutajar</a
            >
            <a
              href="https://www.eurecom.fr/~filippon/"
              class="hover:text-sky-500 dark:hover:text-sky-400"
              >Maurizio Filippone</a
            >
          </p>

          <p><em>UAI</em>, 2017</p>
        </li>
      </ul>
    </div>
  </div>
{{- end }}{{- /* end main */ -}}
